<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Test!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {% block stylesheets %}{% endblock %}
        {% stylesheets '../app/Resources/public/css/*' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Checklist</h1>
                <nav>
                    <ul>
                        {% if app.user %}
                            <li class="dropdown">
			                    		<a id="dropdownMenu1" data-toggle="dropdown" href="#">My checklists<span class="caret"></span></a>
														  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
														    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
														    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
														    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
														  </ul>
													  </li>
                            <li><a href="{{ path('logout') }}">Sign out</a></li>
                         {% else %}
                            <li><a href="{{ path('join') }}">Join</a></li>
                            <li><a href="{{ path('login') }}">Sign in</a></li>
                         {% endif %}
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                {% block body %}{% endblock %}                

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        {% javascripts
            '../app/Resources/public/js/jquery-1.10.2.min.js'
            '../app/Resources/public/js/bootstrap.min.js'
            '../app/Resources/public/js/modernizr-2.6.2-respond-1.1.0.min.js'
            '../app/Resources/public/js/*' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>