<li class="checklistItem" id="item_{{ item.id }}">
    <input type="checkbox" class="tickItem" id="is_ticked_{{ item.id }}" {% if item.ticked is not null %}checked="checked"{% endif %} />
	<div>
        <input type="text" id="update_item_text_{{ item.id }}" class="form-control" value="{{ item.text }}">
    </div>
    <a href="#" class="updateItem btn btn-default" role="button" ref="{{ item.id }}">Save</a>
</li>