{% extends '::base.html.twig' %}

	{% block body %}
	
	<div class="row">
	  <div class="col-md-12">
		<form role="form">
			<span id="addItemFormErrors"></span>
			<div class="form-group checklistForm">
				<label for="newItemText">Enter a Task:</label>
				<input pattern=".{1,100}" required title="Task must be 1 to 10 characters." type="text" class="form-control" id="newItemText" placeholder="My task..." />
			</div>
			<button type="button" class="btn btn-default" id="addItem">Add</button>
		</form>
	  </div>
	</div>

 	<ul id="checklistItems">
	 	{% for item in items %}
	 		{{ include(
            'TelegrafChecklistBundle:Default:item.html.twig',
            { 'item': item, 'ajax': false }
        ) }}
	  {% endfor %}
	</ul>

 {% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
{% for item in items %}
    $("#item_{{ item.id }}").data("id", "{{ item.id }}");
{% endfor %}

$('#newItemText').keypress(function(e){
	if(e.keyCode==13) {
		$('#addItem').click();
		e.preventDefault();
	}
});
$('#checklistItems').on('keypress', '.editItemText', function(e){
	if(e.keyCode==13) {
		var id = $(this).closest(".checklistItem").data("id");
		$("#item_"+id).find('.updateItem').click();
		e.preventDefault();
	}
});
$("#addItem").click(function(event) {
	event.preventDefault();
	if ($("#newItemText").val()=='') {
		return;
	}
	$.post('{{ path('create_item') }}', { text: $("#newItemText").val() }, function(data) {
		$("ul#checklistItems").prepend(data);
		$("#newItemText").val("");
	}, "html").fail(function(xhr) {
		var json = $.parseJSON(xhr.responseText);
		$('#addItemFormErrors').html(json.message);
	}, "json");
});
$("#checklistItems").on('click', ".tickItem", function(event) {
	var id = $(this).closest(".checklistItem").data("id");
	var isTicked = $(this).is(':checked')?'true':'false';
	$.post( '{{ path('tick_item') }}', { id: id, is_ticked: isTicked }, function( data ) {
  		$("#item_"+id).replaceWith(data);
	}, "html");
});
$("#checklistItems").on('click', ".editItem", function(event) {
	event.preventDefault();
	var id = $(this).closest(".checklistItem").data("id");
	$.get( Routing.generate('edit_item', { id: id }), function( data ) {
  		$("#item_"+id).replaceWith(data);
  		$("#update_item_text_"+id).focus();
	}, "html");
});
$("#checklistItems").on('click', ".updateItem", function(event) {
	event.preventDefault();
	var id = $(this).attr("ref");
	var text = $("#update_item_text_"+id).val();
	if (text=='') {
		return;
	}
	$.post( '{{ path('update_item') }}', { id: id, text: text }, function( data ) {
  		$("#item_"+id).replaceWith(data);
	}, "html").fail(function(xhr) {
		var json = $.parseJSON(xhr.responseText);
		$("#item_"+id).find('.updateItemFormErrors').html(json.message);
	}, "json");
});
$("#checklistItems").on('click', ".cancelItem", function(event) {
	var id = $(this).attr("ref");
	$.get( Routing.generate('show_item', { id: id }), function( data ) {
  		$("#item_"+id).replaceWith(data);
	}, "html");
});
$("#checklistItems").on('click', ".deleteItem", function(event) {
	event.preventDefault();
	var id = $(this).closest(".checklistItem").data("id");
	$.post( '{{ path('delete_item') }}', { id: id }, function( data ) {
		$("#item_"+data.id).remove();
	}, "json");
});
</script>
{% endblock %}