{% extends '::base.html.twig' %}

 {% block body %}
 	
 	<form role="form">
	  <div class="form-group checklistForm">
	    <label for="itemText">Checklist item</label>
	    <input type="text" class="form-control" id="itemText" placeholder="Enter a task" />
	  </div>
	  <button type="button" class="btn btn-default addItem">Add</button>
	  <button type="button" class="btn btn-default addItem">Make one up</button>
	</form>

	
 	<ul id="checklistItems">
	 	{% for item in items %}
	 		{{ include(
            'TelegrafChecklistBundle:Default:item.html.twig',
            { 'item': item, 'ajax': false }
        ) }}
	  {% endfor %}
	</ul>

 {% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
{% for item in items %}
	$("#is_ticked_{{ item.id }}").data("id", "{{ item.id }}");
  $("#delete_{{ item.id }}").data("id", "{{ item.id }}");
{% endfor %}

$(".addItem").click(function(event) {
  event.preventDefault();
  var invented = ($(this).html()=="Make one up");
  $.post('{{ path('create_item') }}', { text: $("#itemText").val(), invented: invented }, function(data) {
	  $("ul#checklistItems").prepend(data);
	  if (!invented) {
	  	$("#itemText").val("");
	  }
	}, "html");
});
$("#checklistItems").on('click', ".tickItem", function(event) {
  var id = $(this).data("id");
  var isTicked = $(this).is(':checked')?'true':'false';
  $.post( '{{ path('tick_item') }}', { id: id, is_ticked: isTicked }, function( data ) {

	}, "json");
});
$("#checklistItems").on('click', ".deleteItem", function(event) {
  event.preventDefault();
  var id = $(this).data("id");
  $.post( '{{ path('delete_item') }}', { id: id }, function( data ) {
	  $("#item_"+data.id ).remove();
	}, "json");
});
</script>
{% endblock %}